html {
    font-family: sans-serif;
}
body {
    color: rgb(41, 45, 62);
    margin: 0;
}

/* buttons */
#back-home {
    width: 100%;
    height: 40px;
    border: none;
}


#app {
    height: 100%;
}
#panel {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 200px auto;
}
#nav {
    height: 100%;
    background-color: rgb(51, 55, 71);
    color: white;
}
#logo {
    display: grid;
    grid-template-columns: 120px 80px;
    align-items: baseline;
}
#profile {
    height: 40px;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 120px 40px 40px;
}
#profile button {
    width: 40px;
    border: none;
    background: none;
    color: white
}
#ui {
    height: 100%;
}

.channel-block {
    height: 60px;
    width: 100%;
    color: white;
    background-color: rgb(64, 32, 64);
}




/* register */
.popup {
    display: block;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.25);
}
.popup-box {
    position: absolute;
    z-index: 1;
    top: 30%;
    left: 30%;
    width: 40%;
    height: 40%;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid black;
}