html {
    font-family: sans-serif;
}
body {
    margin: 0;
}

div {
    height: 100%
}
button {
    border: none;
    height: 40px;
    margin: 0;
    padding: 0;
}
.div-button {
    margin: 0;
    text-align: left;
}

#panel {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    display: grid;
    grid-template-columns: 200px auto;
}

#navbar {
    background-color: rgb(41, 45, 62);
    color: white;
}
#logo {
    height: 60px;
    display: grid;
    grid-template-columns: 120px 80px;
    align-items: baseline;
}
#logo h1 {
    margin: auto 0;
}
#version {
    margin-left: 10px;
    font-size: 16px;
    font-weight: normal;
}

#nav {
    background-color: rgb(41, 45, 62);
}
#session-tabs-bar {
    height: fit-content;
}
.session-tab {
    height: 40px;
    width: 100%;
    background-color: rgb(51, 55, 71);
    color: white;
    font-size: 18px;
}
#back-home {
    background-color: rgb(51, 55, 71);
    color: white;
}
#back-home {
    height: 40px;
    width: 100%;
}
#profile {
    height: 40px;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 120px 40px 40px;
}
#profile p {
    margin: auto 0;
    font-size: 20px;
}
#profile button {
    width: 40px;
    border: none;
    background: none;
    color: white
}

#create-channel-div {
    position: absolute;
    bottom: 0;
    height: 60px;
    display: grid;
    grid-template-columns: auto 100px;
}
#new-channel-input {
    height: 56px;
    width: 100%;
    border: none;
}
#create-channel-btn {
    height: 60px;
    width: 100px;
    border: none;
}
#channels-list {
    width: 100%
}
.channel-block {
    height: 60px;
    width: 100%;
    background-color: rgb(204, 200, 184);
}
#new-message {
    height: 40px;
    position: absolute;
    bottom: 0px;
}
#new-message input {
    height: 100%;
}
#new-message-content {
    height: 40px;
}



/* register */
.popup {
    display: block;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.25);
}
.popup-box {
    position: absolute;
    z-index: 1;
    top: 30%;
    left: 30%;
    width: 40%;
    height: 40%;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid black;
}