body {
    margin: 0;
    overflow: hidden;
}
input {
    font-size: 14px;
}
button {
    background-color: rgb(204, 200, 184);
    font-size: 14px;
    border: none;
}

#panel {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    display: grid;
    grid-template-columns: 200px auto;
}



/* popup-box register, thread */

.popup {
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.25);
}
.popup-box {
    position: relative;
    z-index: 1;
    background-color: rgb(214, 210, 193);
}
.popup-box button {
    background-color: rgb(51, 55, 71)
}

#register {
    max-width: 360px;
    margin: 200px auto;
    padding: 45px;
    text-align: center;
}
#register input {
    outline: 0;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
}
#register button {
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    color: white;
}



/* nav */

#navbar {
    background-color: rgb(41, 45, 62);
    height: 100vh;
    width: 200px;
}

#logo {
    height: 80px;
    width: 200px;
    display: flex;
    color: white;
}
#logo h1 {
    display: block;
    width: 120px;
    margin-left: 10px;
    margin-top: 20px;
}
#logo p {
    display: block;
    width: 80px;
    margin-left: 10px;
    margin-top: 36px;
}

#nav {
    display: grid;
    grid-template-rows: auto 40px 40px;
}
#nav button {
    height: 40px;
    width: 100%;
    background-color: rgb(204, 200, 184);
    text-align: left;
}
#nav button:hover{
    background-color:rgb(51, 55, 71);
    color: white;
}
#nav #back-home {
    text-align: center;
}
#nav .material-icons {
    width: 24px;
    position: relative;
    right: 0px;
}

#profile {
    height: 40px;
    margin: auto;
    position: absolute;
    color: white;
    bottom: 0;
    display: grid;
    grid-template-columns: 120px 40px 40px;
}
#profile p {
    margin-top: 8px;
    margin-left: 10px;
    font-size: 20px;
}
#profile button {
    width: 40px;
    border: none;
    background: none;
    color: white
}



/* home */

#home-header {
    background-color: rgb(41, 45, 62);
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: auto 80px;
}
#home-header input {
    outline: 0;
    width: 100%;
    background: none;
    color: white;
    border: none;
    padding: 15px;
    font-size: 28px;
    box-sizing: border-box;
}
#home-header button {
    width: 80px;
    height: 80px;
    background: none;
    color: white;
}

#channels-list {
    width: 100%
}
.channel-block {
    height: 60px;
    width: 100%;
    background-color: rgb(204, 200, 184);
}



/* channel */
#channel {
    height: 100vh;
}

#channel-header {
    background-color: rgb(41, 45, 62);
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: 320px auto;
}
#channel-header h1 {
    margin: auto 15px;
    text-align: right;
    font-weight: normal;
    color: white;
    box-sizing: border-box;
}



#new-message {
    background-color: rgb(41, 45, 62);
    position: absolute;
    height: 40px;
    bottom: 0px;
    display: grid;
    grid-template-columns: auto 40px;
}
#new-message input {
    outline: 0;
    width: 100%;
    background: none;
    color: white;
    border: none;
    padding: auto 15px;
    font-size: 14px;
    box-sizing: border-box;
}
#new-message button {
    width: 40px;
    height: 40px;
    background: none;
    color: white;
}







